C:\Users\lucas\Documents\UTN\2 Cuatri\LAB II\2022\TPS\TP 1\.vs
C:\Users\lucas\Documents\UTN\2 Cuatri\LAB II\2022\TPS\TP 2\.vs
C:\Users\lucas\Documents\UTN\2 Cuatri\LAB II\2022\TPS\TP 2\TP-02 - Cascara\.vs
C:\Users\lucas\Documents\UTN\2 Cuatri\LAB II\2022\TPS\.vs
C:\Users\lucas\Documents\UTN\2 Cuatri\LAB II\2022\TPS\README.md